@model Web.Models.Product

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PName" class="control-label"></label>
                <input asp-for="PName" class="form-control" />
                <span asp-validation-for="PName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PDescription" class="control-label"></label>
                <input asp-for="PDescription" class="form-control" />
                <span asp-validation-for="PDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PImage" class="control-label"></label>
                <input asp-for="PImage" class="form-control" />
                <span asp-validation-for="PImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PPrice" class="control-label"></label>
                <input asp-for="PPrice" class="form-control" />
                <span asp-validation-for="PPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PCategory" class="control-label"></label>
                <input asp-for="PCategory" class="form-control" />
                <span asp-validation-for="PCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PContractor" class="control-label"></label>
                <input asp-for="PContractor" class="form-control" />
                <span asp-validation-for="PContractor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PRemaining" class="control-label"></label>
                <input asp-for="PRemaining" class="form-control" />
                <span asp-validation-for="PRemaining" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PStatus" class="control-label"></label>
                <input asp-for="PStatus" class="form-control" />
                <span asp-validation-for="PStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PSaledate" class="control-label"></label>
                <input asp-for="PSaledate" class="form-control" />
                <span asp-validation-for="PSaledate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

