
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>

<form method="post" action="/Account/Login">
    <input name="username"/>
    <input name="password"/>
    <input type="submit"/>
</form>

