
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Register</h1>


<form method="post" action="/Account/Register">
    <input name="username" />
    <input name="password" />
    <input type="submit" />
</form>

