#register{
    width: 35%;
    position: relative;
    left: 33%;
    margin: 5% 0;
    overflow: visible;
} 

.inputBox{
    width: 350px;
}

#submit{
    background-color: red;
    color: white;
    width:230px;
    height: 45px;
    padding: 10px;
    border-width: 0;
    border-radius: 10px;
}

.submit{
    margin: 40px 0 90px 0;
}
