.item{
    background-color: aqua;
}

.time {
    font-size: 13px;
    color: #999;
  }
  
  .bottom {
    margin-top: 13px;
    line-height: 12px;
  }

  .button {
    padding: 0;
    float: right;
  }

  .image {
    width: 100%;
    display: block;
  }

  .clearfix:before,
  .clearfix:after {
      display: table;
      content: "";
  }
  
  .clearfix:after {
      clear: both
  }

  .price{
      color:#1baeae
  }

  .pagination{
    position: relative;
    left: 37%;
    margin: 25px 0;
  }

  .card{
    font-family: Microsoft Yahei;
  }