<div id="header">
  <div class="title">
    <a routerLink="" style="color: #b0b0b0;">
      shopanda&nbsp;|
    </a>
    <a routerLink="/" style="color: #b0b0b0;">
      &nbsp;赞助&nbsp;|
    </a>
    <a routerLink="/" style="color: #b0b0b0;">
      &nbsp;问题反馈&nbsp;
    </a>
  </div>
  <div class="login">
    <a routerLink="login" style="color: #b0b0b0;">
      &nbsp;登入&nbsp;|
    </a>
    <a routerLink="register" style="color: #b0b0b0;">
      &nbsp;注册&nbsp;|
    </a>
    <a routerLink="shoppingcart" style="color: #b0b0b0;">
      &nbsp;购物车&nbsp;
    </a>
  </div>
  <!--<div class="shoppingCart">
    <a href="#">
      <i class="fas fa-shopping-cart"></i>
      &nbsp;购物车({{shoppingTotal}})
    </a>
  </div>-->
</div>
<div id="nav">
  <div class="content">
    <a routerLink="/">
      <img id='logo' src="assets/logo.jpg" alt="error !!" width="100" height="90"/>
      <img class="company" src="assets/logoName.jpg" height="60" width="240" alt="error !!"/>
    </a>
  </div>
  <div class="search">
    <el-input [model]="searchKeyword"></el-input>
    <el-button type="success" icon="search"  style="margin-left: 10px;"></el-button>
  </div>
</div>
<div id="main">
    <router-outlet></router-outlet>
</div>
<div id="footer" class="text-center">
  <div class="footer_contact">
    <ul type="none">
      <li>
          <b>人工客服</b>
      </li>
      <li style="vertical-align: bottom">
        <b>130-1632-xxxx</b>
      </li>
      <li>
        <el-button [round]="true" style="background-color: #32333b;margin-top: 10px;"><b>线上客服</b></el-button>
      </li>
    </ul>
    <ul type="none">
      <li><b>帮助中心</b></li>
      <li><a routerLink="/login"><label>账户管理</label></a></li>
      <li><a routerLink="/"><label>购物指南</label></a></li>
      <li><a routerLink="/"><label>订单操作</label></a></li>
    </ul>
    <ul type="none">
      <li><b>线下门店</b></li>
      <li><a routerLink="/"><label>taipei</label></a></li>
      <li><a routerLink="/"><label>服务网点</label></a></li>
      <li><a routerLink="/"><label>授权体验店</label></a></li>
    </ul>
    <ul type="none">
      <li><b>关注我们</b></li>
      <li><a routerLink="/"><label>新浪微博</label></a></li>
      <li><a routerLink="/"><label>官方微信</label></a></li>
      <li><a routerLink="/"><label>联系我们</label></a></li>
    </ul>
    <p style="text-align: center">Copyright&copy;2019-2020 All Rights Reserved. | china | taiwan | 浙公网安备 33010002000078号</p>
  </div>
</div>

