@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>熊貓電商系統</h3>
    <img src="~/img/logo.jpg" />
</div>*@
<div class="container-fluid">
    <div class="row">
        <div class="p-3">
            <h3>晚安，熊貓</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card p-3">
                商品數量
            </div>
        </div>
        <div class="col-6">
            <div class="card p-3">
                123
            </div>
        </div>
    </div>
</div>
