.card{
    background-color: #14212a;
    color: #fff;
    width: 70%;
    height: 500px;
    position: relative;
    left: 20%; 
    margin: 80px 0;
}

.card a:hover{
    text-decoration: none;
}

.card a{
    color: #1baeae;
}

.card-body{
    margin: 50px 0 0 0;
}

#login{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.loginLogo{
    width: 125%;
    margin: 110px 0;
    background-image: url(../../../assets/loginLogo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (max-width: 768px){
    .loginLogo{
        display: none;
    }
    .card{
        background-color: #14212a;
        color: #fff;
        width: 120%;
        height: 500px;
        position: relative;
        left: 48%; 
        margin: 80px 0;
    }
}
 