.cart {
    max-width: 100%;
    margin: 50px auto;
}

.cart_header {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    grid-gap: 2px;
    margin-bottom: 2px;
  }

  .cart_headerGrid {
    text-align: center;
    background: lightgray;
  }

  .cart_product {
    display: grid;
    grid-template-columns: 2fr 7fr 3fr 3fr 3fr 3fr;
    grid-gap: 2px;
    margin-bottom: 2px;
    height: 70px;
    text-align: center;
  }

  .cart_productGrid {
    padding: 5px;
  }

  .cart_productImg {
    background-image: url(../../../assets/4.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .cart_productTitle {
    overflow: hidden;
    line-height: 25px;
  }
  
  .cart_productPrice,
  .cart_productQuantity,
  .cart_productTotal,
  .cart_productDel {
    text-align: center;
    line-height: 60px;
  }

  .cart_productGrid{
      text-align: center;
  }

  .delete{
      position: relative;
      left:43%
  }

  @media screen and (max-width: 768px) {
    .cart_header {
      display: none;
    }
  
    .cart_product {
      box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.5);
      margin-bottom: 10px;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr 1fr;
      grid-template-areas:
        "img title title title title title del"
        "img price price quantity total total del";
    }
  
    .cartc_productImg {
      grid-area: img;
    }
  
    .cart_productTitle {
      grid-area: title;
    }
  
    .cart_productPrice,
    .cart_productQuantity,
    .cart_productTotal,
    .cart_productDel {
      line-height: initial;
    }
  
    .cart_productPrice {
      grid-area: price;
      text-align: right;
    }
  
    .cart_productQuantity {
      grid-area: quantity;
      text-align: left;
    }
  
    .cart_productTotal {
      grid-area: total;
      text-align: right;
      color: red;
    }
  
    .cart_productDel {
      grid-area: del;
      line-height: 60px;
      background: #ffc0cb26;
    }
  }